<section class="section-map">
    <div class="map-wrapper-left">
        {% for item in graphicBlock.kontaktZMapa.all() %}
            {% set icon1 = item.ikona1 | length ? item.ikona1.one().url() : '' %}
            {% set icon2 = item.ikona2 | length ? item.ikona2.one().url() : '' %}
            {% set icon3 = item.ikona3 | length ? item.ikona3.one().url() : '' %}

            <div class="left-size">
            <div class="title-and-header-map">
                <div class="title-dot-wrap-map">
                    <div class="title-dot-map">
                        <p>{{item.tytul}}</p>
                    </div>
                </div>
                <p class="title-and-header-header-map">{{item.naglowek}}</p>
                <p class="title-and-header-subheader-map"></p>
            </div>
            <div class="tile">
                <div class="icon-wrap">
                    <img src="{{icon1}}" alt="">
                </div>
                <div class="text">
                    {{item.pastylka1}}
                </div>
            </div>
            <div class="tile">
                <div class="icon-wrap">
                    <img src="./dist/assets/baseline-alternate_email-24px.png" alt="">
                </div>
                <div class="text">
                    {{item.pastylka2}}
                </div>
            </div>
            <div class="tile">
                <div class="icon-wrap">
                    <img src="./dist/assets/baseline-place-24px.png" alt="">
                </div>
                <div class="text">
                    {{item.pastylka3}}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="map-wrapper-right">
        <div id="map"></div>
        <script>
            // Initialize and add the map
            function initMap() {
                // The location of Uluru
                var abj = {lat: 50.292056, lng: 21.419431};
                // The map, centered at Uluru
                var map = new google.maps.Map(
                    document.getElementById('map'), {zoom: 15, center: abj});
                // The marker, positioned at Uluru
                var marker = new google.maps.Marker({position: abj, map: map});
            }
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzp2TkTYM-62KercwMzqzJ-G3GSHFXQFA&callback=initMap">
        </script>
    </div>
</section>