<div class="section title-and-header-section">
    <div class="wrapper title-and-header-wrapper">
        <div class="title-dot-wrap">
            <div class="title-dot{{ matrixBlock.kolorPastylki }}">
                {{matrixBlock.tytul}}
            </div>
        </div>
        <p class="title-and-header-header{{ matrixBlock.kolorTekstu }}">{{matrixBlock.naglowek}}</p>
        <p class="title-and-header-subheader{{ matrixBlock.kolorTekstu }}">{{matrixBlock.opisNaglowka}}</p>
</div>
</div>